<section class="desingSection">
    <nav class="desplegableDesing">
        <div>
            <figure class="iconDesing"><i class="fa-regular fa-object-ungroup"></i><figcaption class="desingText">DISEÑA</figcaption></figure>
        </div>
        <div class="chevronUp"><i class="fa-solid fa-chevron-up"></i></div>
    </nav>
    <span class="colorsText">COLORES </span>
    <section class="firstRectangle">
        <div class="firstRectangleColorsOne"></div>
        <div class="firstRectangleColorsTwo"></div>
        <div class="firstRectangleColorsThree"></div>
    </section>
    <section class="secondRectangle">
        <div class="secondRectangleColorsOne"></div>
        <div class="secondRectangleColorsTwo"></div>
        <div class="secondRectangleColorsThree"></div>
    </section>
    <section class="thirdRectangle">
        <div class="thirdRectangleColorsOne"></div>
        <div class="thirdRectangleColorsTwo"></div>
        <div class="thirdRectangleColorsThree"></div>
    </section>
</section>