<fieldset class="desing js-design-form">

    <section class="des__cont js-designLegend">
        <legend class="des__cont--icon">
            <i class="fa-regular fa-solid fa-wand-sparkles"></i>
            <h2 class="des__cont--title">DISEÑA</h2>
        </legend>
        <div class="des__cont--up">
            <i class="fa-solid fa-chevron-up"></i>
        </div>
    </section>

    <div class="sub__box">

        <section class="sub__text">
            <h2 class="sub__text--ti"> COLORES </h2>
        </section>

        <div class="palette">
            <label class="palette__1">
                <input class="rad js-palette-one" type="radio" value="1" name="palette" checked/>
                <div class="palette__1--color1"></div>
                <div class="palette__1--color2"></div>
                <div class="palette__1--color3"></div>
            </label>


            <label class="palette__2">
                <input class="rad js-palette-two" type="radio" value="2" name="palette"/>
                <div class="palette__2--color1"></div>
                <div class="palette__2--color2"></div>
                <div class="palette__2--color3"></div>
            </label>


            <label class="palette__3">
                <input class="rad js-palette-three" type="radio" value="3" name="palette"/>
                <div class="palette__3--color1"></div>
                <div class="palette__3--color2"></div>
                <div class="palette__3--color3"></div>
            </label>

            <label class="palette__4">
                <input class="rad js-palette-four" type="radio" value="4" name="palette"/>
                <div class="palette__4--color1"></div>
                <div class="palette__4--color2"></div>
                <div class="palette__4--color3"></div>
            </label>
        </div>

       
    </div>

    <div class="line"></div>

</fieldset>