<section class="desingSection">
    
    <section class="desplegableDesing">
        <figure class="iconDesing">
                <i class="fa-regular fa-object-ungroup"></i>
                <h2 class="desingText">DISEÑA</h2>
            </figure>
        <div class="chevronUp">
            <i class="fa-solid fa-chevron-up"></i>
        </div>
    </section>

    <section class="squareText">
         <h2 class="colorsText"> COLORES </h2>
    </section>

    <div class="rangeColorOne">
        <section class="firstRectangle">
            <div class="firstRectangleColorsOne"></div>
            <div class="firstRectangleColorsThree"></div>
        </section>
    </div>
    
    <div class="rangeColorTwo">
        <section class="secondRectangle">
            <div class="secondRectangleColorsOne"></div>
            <div class="secondRectangleColorsTwo"></div>
            <div class="secondRectangleColorsThree"></div>
        </section>
    </div>

    <div class="rangeColorThree">
        <section class="thirdRectangle">
            <div class="thirdRectangleColorsOne"></div>
            <div class="thirdRectangleColorsTwo"></div>
            <div class="thirdRectangleColorsThree"></div>
        </section>
    </div>
    
</section>