<fieldset class="fullForm collapsed js-fill-form">

    <div class="titleF js-fillLegend">  
      <legend class="titleF__img">
        <i class="fa-regular fa-keyboard titleF__img--icon"></i>
      <h3 class="titleF__title">RELLENA</h3>
    </legend>
      <figure>
      <i class="fa-solid fa-chevron-up titleF__arrow"></i>
      </figure>    
    </div>
    
    <div class="formF">

      <label class="formF__label" for="fullName">Nombre completo</label>
      <input class="formF__input js-input-name" id="fullName" type="text" name="fullName" placeholder="Ej: Sally Jill">
    
      <label class="formF__label" for="jobPosition">Puesto</label>
      <input class="formF__input js-input-job" id="jobPosition" type="text" name="jobPosition" placeholder="Ej: Front-end unicorn">
    
      <div class="formF__img">      
        <label class="formF__img--btnF" for="image">Imagen de perfil</label>      
        <div class="formF__img--img js__profile-preview"> </div>
        <input type="file" id="image"  class="formF__img--hiddenFile js__profile-upload-btn"/>
      </div>
    
      <label class="formF__label" for="mail">Email</label>
      <input class="formF__input js-input-email" id="mail" type="mail" name="mail" placeholder="Ej: sally-hill@gmail.com">
      
      <label class="formF__label" for="phoneNumber">Teléfono</label>
      <input class="formF__input js-input-phone" id="phoneNumber" type="number" name="phoneNumber" placeholder="Ej: 555-55-55-55">
      
      <label class="formF__label" for="Linkedin">Linkedin</label>      
      <input class="formF__input js-input-linkedin" id="Linkedin" type="text" name="Linkedin" placeholder="Nombre de usuario">      
      
      <label class="formF__label" for="gitHub">GitHub</label>
      <input class="formF__input js-input-git" id="gitHub" type="text" name="gitHub" placeholder="Nombre de usuario">
      
    </div>
  
    <div class="line"></div>
    
</fieldset>
    