<fieldset class="fullForm collapsed js-fill-form">

    <div class="titleF js-fillLegend">  
      <div class="titleF__img">
        <i class="fa-regular fa-keyboard titleF__img--icon"></i>
      <h3 class="titleF__title">RELLENA</h3>
    </div>
      <figure>
      <i class="fa-solid fa-chevron-up titleF__arrow"></i>
      </figure>    
    </div>
    
        <div class="formF">

     <label class="formF__label" for="fullName">Nombre completo</label>
     <input class="formF__input js-input-name" id="fullName" type="text" name="fullName" placeholder="Ej: Sally Jill">
    
     <label class="formF__label" for="jobPosition">Puesto</label>
     <input class="formF__input js-input-job" id="jobPosition" type="text" name="jobPosition" placeholder="Ej: Front-end unicorn">
    
     <label class="formF__label" for="image">Imagen de perfil</label>
     <div class="formF__label--img">
        <button class="btnF"> <a class="btnF__Link" href="#">Añadir imagen</a>
        </button>
        <span class="previewF"></span>
     </div>

     <label class="formF__label" for="mail">Email</label>
     <input class="formF__input js-input-email" id="mail" type="mail" name="mail" placeholder="Ej: sally-hill@gamil.com">
     
     <label class="formF__label" for="phoneNumber">Teléfono</label>
     <input class="formF__input js-input-phone" id="phoneNumber" type="number" name="phoneNumber" placeholder="Ej: 555-55-55-55">
     
     <label class="formF__label" for="Linkedin">Linkedin</label>
     
     <input class="formF__input js-input-linkedin" id="Linkedin" type="text" name="Linkedin" placeholder="Ej: linkedin.com/in/sally.hill">
    
    
     <label class="formF__label" for="gitHub">GitHub</label>
     <input class="formF__input js-input-git" id="gitHub" type="text" name="gitHub" placeholder="Ej: @sally-hill">
     
    </div>
  
    <div class="line"></div>
    
</fieldset>
    