<section class="fullForm">

    <div class="titleFilling">  
      <div class="imgFilling">
      <figure class=""><i class="fa-regular fa-keyboard imagenFilling"></i></figure>
      <h3 class="fTitle">RELLENA</h3></div>
      <div class="arrowUp"> <img class="imgUp" src="./assets/images/arrowUp.png" alt=""> <img class="imgDown" src="./assets/images/arrowDown.png" alt=""></div>
    </div>
    
    <fieldset class="fillingForm">

     <label class="fLabel" for="fullName">Nombre completo</label>
     <input class="fInput" id="fullName" type="text" name="fullName" placeholder="Ej: Sally Jill">
    
     <label class="fLabel" for="jobPosition">Puesto</label>
     <input class="fInput" id="jobPosition" type="text" name="jobPosition" placeholder="Ej: Front-end unicorn">
    
     <label class="fLabel" for="image">Imagen de perfil</label>
     <div class="imgF">
        <button class="fButton"> <a class="buttonLink" href="#">Añadir imagen</a>
        </button>
        <span class="preview"></span>
     </div>

     <label class="fLabel" for="mail">Email</label>
     <input class="fInput" id="mail" type="mail" name="mail" placeholder="Ej: sally-hill@gamil.com">
     
     <label class="fLabel" for="phoneNumber">Teléfono</label>
     <input class="fInput" id="phoneNumber" type="number" name="phoneNumber" placeholder="Ej: 555-55-55-55">
     
     <label class="fLabel" for="Linkedin">Linkedin</label>
     
     <input class="fInput" id="Linkedin" type="text" name="Linkedin" placeholder="Ej: linkedin.com/in/sally.hill">
    
    
     <label class="fLabel" for="gitHub">GitHub</label>
     <input class="fInput" id="gitHub" type="text" name="gitHub" placeholder="Ej: @sally-hill">
     
    </fieldset>
    
</section>
    