<main class="main-land">

    <h1 class="main-title">Crea tu tarjeta de visita</h1>
    <p class="main-par">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    <div class="main-icons">
        <figure><i class="fa-regular fa-object-ungroup"></i><figcaption>Diseña</figcaption></figure>
        <figure><i class="fa-regular fa-keyboard"></i><figcaption>Rellena</figcaption></figure>
        <figure><i class="fa-solid fa-share-nodes"></i><figcaption>Comparte</figcaption></figure>
    </div>
    <a class="main-btn" href="#">Comenzar</a>
</main>