    <section class="card">

      <form action="">
        <button type="reset" class="card__button"><i class="fa-regular fa-trash-can"></i> Reset</button>
  
      <article class="card__box">
        <div class="card__container">
          <h1 class="card__container--name">Nombre Apellido</h1>
          <h2 class="card__container--profession">Front-end developer</h2>
        </div>
  
        <img
          class="card__box--img"
          src="./assets/images/Hermione_Granger.jpg"
          alt=""/>
        <nav>
          <ul class="icons">
            <li class="icons__border">
              <a class="icons__border--item" href="#"><i class="fa-solid fa-mobile-screen-button fa-2xl"></i></a>
            </li>
            <li class="icons__border">
              <a class="icons__border--item" href="#">
              <i class="fa-regular fa-envelope fa-2xl"></i></a>
            </li>
            <li class="icons__border">
              <a class="icons__border--item" href="#"
                ><i class="fa-brands fa-linkedin fa-2xl"></i></a>
            </li>
            <li class="icons__border">
              <a class="icons__border--item" href="#"
                ><i class="fa-brands fa-github-alt fa-2xl"></i></a>
            </li>
          </ul>
        </nav>
      </article>
    </section>
  