    <section class="card">
      <button class="card__button">
        <i class="fa-regular fa-trash-can"></i> reset
      </button>
  
      <article class="card__box">
        <div class="card__container">
          <h1 class="card__container--name">Nombre Apellido</h1>
          <h2 class="card__container--profession">Front-end developer</h2>
        </div>
  
        <img
          class="card__box--img"
          src="./assets/images/Hermione_Granger.jpg"
          alt=""
        />
        <nav>
          <ul>
            <li class="icons">
              <a class="icons__item" href="#"
                ><i class="fa-solid fa-mobile-screen-button"></i
              ></a>
            </li>
            <li>
              <a class="icons__item" href="#"
                ><i class="fa-regular fa-envelope"></i
              ></a>
            </li>
            <li>
              <a class="icons__item" href="#"
                ><i class="fa-brands fa-linkedin-in"></i
              ></a>
            </li>
            <li>
              <a class="icons__item" href="#"
                ><i class="fa-brands fa-github-alt"></i
              ></a>
            </li>
          </ul>
        </nav>
      </article>
    </section>
  