    <section class="card">

        <button class="card__button js-btn-reset" value="reset"><i class="fa-regular fa-trash-can"></i>Reset</button>
        
      <article class="card__box">
        <div class="card__container">
          <h2 class="card__container--name js-name" id="nameh2">Nombre Apellido</h2>
          <h3 class="card__container--profession js-job" id="job">Front-end developer</h3>
        </div>
  
        <img
          class="card__box--img"
          src="./assets/images/Hermione_Granger.jpg"
          alt=""/>
        <nav>
          <ul class="icons">
            <li class="icons__border">
              <a class="icons__border--item js-phone" href="#"><i class="fa-solid fa-mobile-screen-button fa-2xl"></i></a>
            </li>
            <li class="icons__border">
              <a class="icons__border--item js-email" href="#">
              <i class="fa-regular fa-envelope fa-2xl "></i></a>
            </li>
            <li class="icons__border">
              <a class="icons__border--item js-linkedin" href="#"
                ><i class="fa-brands fa-linkedin-in fa-2xl "></i></a>
            </li>
            <li class="icons__border">
              <a class="icons__border--item js-gitHub" href="#"
                ><i class="fa-brands fa-github-alt fa-2xl "></i></a>
            </li>
          </ul>
        </nav>
      </article>
    </section>
  