<fieldset class="section collapsed js-share-form">
  
        <div class="section__div js-shareLegend ">
            <legend class="section__div__pack">
                <figure class="section__div__pack--fig">
                    <i class="fa fa-solid fa-share-nodes section__div__pack--fig--icon"></i>
                </figure>
                <h2 class="section__div__pack--h2">Comparte</h2>
            </legend>
            <figure class="section__div__pack--fig">
              <i class="fa-solid fa-chevron-up section__div__pack--fig--arrow"></i>
            </figure>
        </div>
  
        <div class="section__button js-btn-share">
          <button type="submit" value="Enviar" class="section__button__link js-createdTarget">
            <i class="far fa-address-card section__button__link--target"></i> Crear tarjeta
          </button>
          <button type="submit" value="Enviar" class="section__button__linkGrey hidden">
            <i class="far fa-address-card section__button__linkGrey--targetGrey js-createdTargetWhite"></i> Crear tarjeta
          </button>
        </div>
        
        <div class="section__line"></div>

      <article class="section__share hidden js-hidden">
      <div class="">
        <h2 class="section__share--h2">La tarjeta ha sido creada:</h2>
        <a
          class="section__share--link"
          href="https://awesome-profile-card.com?id=A456DF0001"> https://awesome-profile-card.com?id=A456DF0001
        </a>
      </div>
      <div class="section__share--btn">
        <span class="section__share--btn--icon fa-brands fa-twitter"></span>
        <span class="section__share--btn--tw"> Compartir en twitter </span>
      </div>
      <div class="section__line"></div>
    </article>

</fieldset>
