<section class="section">
  
        <div class="section__div">
            <div class="section__div__pack">
                <figure class="section__div__pack--fig">
                    <i class="fa fa-solid fa-share-nodes section__div__pack--fig--icon"></i>
                </figure>
                <h2 class="section__div__pack--h2">Comparte</h2>
            </div>
            <figure class="section__div__pack--fig">
              <i class="fa-solid fa-chevron-up section__div__pack--fig--arrow"></i>
            </figure>
        </div>
  
        <div class="section__button">
          <button type="submit" value="Enviar" class="section__button__link">
            <i class="far fa-address-card section__button__link--target"></i> Crear tarjeta
          </button>
        </div>
        
        <div class="section__line"></div>
  
</section>
