@mixin testStyle($fontFamily,$fontWeight,$fontSize,$color) {
    font-family: $fontFamily;
    font-weight: $fontWeight;
    font-size: $fontSize;
    color: $color;
}

@mixin iconStyle($fontWeight,$fontSize,$color:#e17334) {
    font-weight: $fontWeight;
    font-size: $fontSize;
    color: $color;
}

@mixin center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin margin($marginL,$marginR,$marginT,$marginB){
    margin-left: $marginL;
    margin-right: $marginR;
    margin-top: $marginT;
    margin-bottom: $marginB;
}

@mixin rectangle ($width, $height, $backGround){
    width: $width;
    height: $height;
    background-color: $backGround;
}
    