* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

li{
  list-style: none;
}

.sectionIncludes {
  padding: 2.7rem 2rem 3rem 2rem;
}
.bodyImage{
  cursor: url(../images/eyeball.png), auto;
}
.bodyCard{
  cursor: url(../images/eyeball.png), auto;
}
