// Tipos de letras
$merriweather: "Merriweather", sans-serif;
$montserrat: "Montserrat", sans-serif;
$openSans: "Open Sans", sans-serif;

// Grosor de las letas (font-weight)
$regular: 400;
$semiregular: 500;
$semiBold: 600;
$bold: 700; 
$blackBold: 900;

// Colores
$tomato: #e95626;
$lightKhaki: #f9f4dc;
$driedBlood: #420101;
$rustyRed: #bd1010;
$fadedOrange: #eab052;
$lightGreyBlue: #a0c0cf;
$azure: #00a0f5;
$white: #d5d5d5;
$whiteTwo: #ffffff;
$whiteThree: #d8d8d8;
$whiteFour: #f5f5f5;
$black: #000000;
$gunmetal: #54585a;
$brownishGrey: #6b6b6b;
$slate: #3e5b65;
$hospitalGreen: #a2deaf;
$silver: #bfcdd0;
$paleGrey: #dde9ed;
$darkGreenBlue: #114e4e;
$dirtyBlue: #438792;
$pinkishGrey: #c5c5c5;

// Colores con transparencias
$black20: #00000033; 
$black32: #00000052; 

//Color iconos;
$orange: #e17334; 




