.desing {
  border: none;
  .des__cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &--icon {
      display: flex;
      align-items: baseline;
      color: $orange;
      font-size: 1.8rem;
    }

    &--title {
      display: flex;
      @include textStyle($openSans, $semiBold, 1.8rem, $gunmetal);
      padding-left: 1rem;
    }

    &--up {
      display: flex;
      justify-content: flex-end;
      font-size: 1.8rem;
      color: $gunmetal;
    }
  }

  .sub__text {
    &--ti {
      @include textStyle($openSans, $regular, 1.4rem, $gunmetal);
      padding-left: 1.9rem;
      padding-top: 2.2rem;
    }
  }

  .sub__box {
    display: flex;
    justify-content: space-between;
  }

  .palette {
    padding-top: 3.1rem;
    padding-bottom: 2rem;
    .rad {
      width: 1.7rem;
      height: 1.7rem;
      margin: 1rem;
      align-items: center;
    }
    &__1 {
      display: flex;
      &--color1 {
        @include rectangle(3rem, 2.5rem, $darkGreenBlue);
      }
      &--color2 {
        @include rectangle(3rem, 2.5rem, $dirtyBlue);
      }
      &--color3 {
        @include rectangle(3rem, 2.5rem, $hospitalGreen);
      }
    }
    &__2 {
      display: flex;
      &--color1 {
        @include rectangle(3rem, 2.5rem, $driedBlood);
      }
      &--color2 {
        @include rectangle(3rem, 2.5rem, $rustyRed);
      }
      &--color3 {
        @include rectangle(3rem, 2.5rem, $tomato);
      }
    }
    &__3 {
      display: flex;
      &--color1 {
        @include rectangle(3rem, 2.5rem, $slate);
      }
      &--color2 {
        @include rectangle(3rem, 2.5rem, $fadedOrange);
      }
      &--color3 {
        @include rectangle(3rem, 2.5rem, $lightGreyBlue);
      }
    }
  }
}