.desing {
  border: none;
  .des__cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: url(../images/cuchillo.png), auto;

    &--icon {
      display: flex;
      align-items: baseline;
      color: $purple;
      font-size: 2rem;
    }

    &--title {
      display: flex;
      @include textStyle($openSans, $semiBold, 1.8rem, $gunmetal);
      padding-left: 1rem;
    }

    &--up {
      display: flex;
      justify-content: flex-end;
      font-size: 2rem;
      color: $purple;
    }
  }

  .sub__text {
    &--ti {
      @include textStyle($openSans, $regular, 1.4rem, $gunmetal);
      padding-left: 1.9rem;
      padding-top: 2.2rem;
    }
  }

  .sub__box {
    display: flex;
    justify-content: space-between;
  }

  .palette {
    padding-top: 3.1rem;
    padding-bottom: 2rem;
    .rad {
      width: 1.7rem;
      height: 1.7rem;
      margin: 1rem;
      cursor: url(../images/cuchillo.png), auto;  
    }
    &__1 {
      display: flex;
      align-items: center;
      &--color1 {
        @include rectangle($darkPurple);
      }
      &--color2 {
        @include rectangle($violet);
      }
      &--color3 {
        @include rectangle($pink);
      }
    }
    &__2 {
      display: flex;
      align-items: center;
      &--color1 {
        @include rectangle($driedBlood);
      }
      &--color2 {
        @include rectangle($rustyRed);
      }
      &--color3 {
        @include rectangle($greenHojas);
      }
    }
    &__3 {
      display: flex;
      align-items: center;
      &--color1 {
        @include rectangle($redF);
      }
      &--color2 {
        @include rectangle($beigeF);
      }
      &--color3 {
        @include rectangle($yellowF);
      }
    }
    &__4 {
      display: flex;
      align-items: center;
      &--color1 {
        @include rectangle($darkGreenBlue);
      }
      &--color2 {
        @include rectangle($dirtyBlue);
      }
      &--color3 {
        @include rectangle($hospitalGreen);
      }
    }
  }
}