.desing{
    display:flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border: none;

    .des__cont{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &--icon{
            display: flex;
            align-items: baseline;
            color: $orange;
            font-size: 1.8rem;
        }

        &--title{ 
            display: flex;
            gap: 1rem;
            @include testStyle ($openSans,$semiBold, 1.8rem, $gunmetal);
            @include margin(1rem,1rem,1rem,1rem);
           
        }
        
        &--up{
            display:flex;
            justify-content: flex-end;
            font-size: 1.8rem;
            color: $gunmetal;
            /*padding: 1.5rem;*/
        }
    }
    

    .sub__text{
        &--ti{
            @include margin (2rem, 2rem, 1rem, 1rem);
            @include testStyle($openSans,$regular,1.4rem,$gunmetal);
            margin-left: 2rem;
        }
    }
 
.sub__box{
    display:flex;
    justify-content: space-between;

}

/* first rectangle */
.rec{
    
    .rec__one--rad{
        width: 1.7rem;
        height: 1.7rem;
        margin: 1rem;
        align-items: center;
    }

    .rec__one{ 
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: 1rem;
        align-items: center;  
        
        &__one{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        &--one{
            @include rectangle (3rem,2.5rem,$darkGreenBlue);
        }

        &--two{
            @include rectangle (3rem,2.5rem,$dirtyBlue);
        }

        &--three{
            @include rectangle (3rem,2.5rem,$hospitalGreen);
        }

    }
}
  

/* second rectangle */
    .rect{

        .rec__one--rad{
            width: 1.7rem;
            height: 1.7rem;
            margin: 1rem;
            align-items: center;
        }

        .rect__two{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        
            &--tone{
                display: flex;
                flex-direction: row;
                @include rectangle (3rem,2.5rem,$driedBlood);
            }
            &--ttwo{
                display: flex;
                flex-direction: row;
                @include rectangle (3rem,2.5rem,$rustyRed);
            }
            &--tthree{
                display: flex;
                flex-direction: row;
                @include rectangle (3rem,2.5rem,$tomato);
            }
        }
    }


    /* three rectangle */
    .ran{

        .rec__one--rad{
            display: flex;
            width: 1.7rem;
            height: 1.7rem;
            margin: 1rem;
            align-items: center;
        }
        
        .ran__three{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        
            &--oneR{
                @include rectangle (3rem,2.5rem, $slate);
            }
            &--twoR{
                @include rectangle (3rem,2.5rem,$fadedOrange);
            }
            &--threeR{
                @include rectangle (3rem,2.5rem,$lightGreyBlue);
            }
        }
      
    }
}
.line {
    background-color: $whiteThree;
    height: 0.01rem;
    
  }



