.fullForm {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    grid-gap: 2rem;
   
    .titleFilling {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      align-items: flex-end;    

      .imgFilling {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
        align-items: flex-end;   

        .imagenFilling {
          color: $orange;
        }
      }
      .imgUp, .imgDown {
        width: 20px;
        height: 16px;
      }
      .fTitle {
        @include testStyle($openSans, $semiBold, 1.8rem, $gunmetal);
      }
    }
       
    .fillingForm {
    display: grid;
    grid-template-columns: 1fr;
    border: none;
    grid-gap: 0.5rem;

      .fLabel {
        margin-top: 1.5rem;
        margin-bottom: .5rem;
        @include testStyle ($openSans, $regular, 1.4rem, $darkGreenBlue);
      }

      .fInput {
        border: 1px solid $hospitalGreen;
        padding: 0.5rem;
      }
      .fInput::placeholder {
        color: rgb(206, 190, 190);
        @include testStyle ($openSans, $regular, 1.4rem, $pinkishGrey);
      }

      .imgF {
        display: flex;
        flex-direction: row;
        grid-gap: 1.8rem;

        .preview {
          border: 1px solid $hospitalGreen;
          width: 30px;
          height: 30px;
          margin: 0;
        }
      
        .fButton {
          background-color: $orange;      
          padding: 0.5rem 2.0rem;
          border-radius: 3px;
          border-color: $black32;
          
          .buttonLink {
            text-decoration: none;             
            @include testStyle ($openSans, $regular, 1.4rem, $whiteTwo);         
          }
        }
       }
    }
  }