.fullForm {
    margin-top: 1rem;
    grid-gap: 2rem;
    border:none;

  .titleF {
    display: flex;
    justify-content: space-between;
    cursor: pointer;   

    &__img{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      &--icon {
          font-size: 2rem;
          padding-right: 1rem;
          color: $purple;
      }
    }

    &__title {
      @include textStyle($openSans, $semiBold, 1.8rem, $gunmetal);
    }

    &__arrow {
      color: $purple;
      font-size: 2rem;
    }
  }       
  
  .formF {
    display: grid;
    grid-template-columns: 1fr;
    border: none;
    margin-top: 2.5rem;

    &__label {
      @include textStyle ($openSans, $regular, 1.4rem, $darkGreenBlue);            
    }  

    &__img {
      display: flex;
      gap: 2rem; 
      margin-bottom: 1.4rem;   

      &--btnF {
        @include textStyle ($openSans, $regular, 1.4rem, $whiteTwo); 
        width: 14rem;
        background-color: $purple; 
        padding: 0.5rem 1.5rem;
        border-radius: 3px;
        border: 1px solid $purple;
        box-shadow: 0 0 4px 0 $black32;
        cursor: pointer;        
        }
      
        &--img {             
          border: 1px solid $gunmetal;
          width: 3.2rem;
          height: 3.2rem;          
          background-size: cover;
          background-position: center;
        }

        &--hiddenFile {
        display: none;
        } 
      } 

    &__input {
      border: 1px solid $gunmetal;
      height: 3rem;
      margin-top: 0.7rem;
      margin-bottom: 2rem;
      padding: 1rem;
    }
    &__input::placeholder {
      color: rgb(206, 190, 190);
      @include textStyle ($openSans, $regular, 1.4rem, $driedBlood);
    }   
  }
}

.line {
  background-color: $whiteThree;
  height: 0.01rem;
  margin-top: 1rem;
}

/* ejemplo de mis las variables de la parte fillin para JAVA

const fillHeader = document.querySelector('.js-legend');
const fillForm = document.querySelector('.js-fill-form');
*/