.fullForm {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    grid-gap: 2rem;
   
  .titleF {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: flex-start;    

    &__img{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1.5rem;
      align-items: baseline;

      &--icon {
        color: $orange;
        transform: scale(2);
        padding-bottom: 0.5rem;
      }
    }

    &__title {
      @include testStyle($openSans, $semiBold, 1.8rem, $gunmetal);
    }

    &__arrow {
      &--down {
        color: $gunmetal;
        transform: scale(2);
        margin: 0.8rem;
      }
    }
  }       
  
  .formF {
    display: grid;
    grid-template-columns: 1fr;
    border: none;
    grid-gap: 0.5rem;

    &__label {
      margin-top: 1.5rem;
      margin-bottom: .5rem;
      @include testStyle ($openSans, $regular, 1.4rem, $darkGreenBlue);
    }

    &__input {
      border: 1px solid $hospitalGreen;
      padding: 0.5rem;
    }
    &__input::placeholder {
      color: rgb(206, 190, 190);
      @include testStyle ($openSans, $regular, 1.4rem, $pinkishGrey);
    }

    &__label--img {
      display: flex;
      flex-direction: row;
      grid-gap: 1.8rem;

      .previewF {
        border: 1px solid $hospitalGreen;
        width: 30px;
        height: 30px;
        margin: 0;
      }
      
      .btnF {
        background-color: $orange;      
        padding: 0.5rem 2.0rem;
        border-radius: 3px;
        border: 1px solid $orange;
        box-shadow: 0 0 4px 0 $black32;
                   
        &__Link {
        text-decoration: none;             
        @include testStyle ($openSans, $regular, 1.4rem, $whiteTwo);         
        }
      }
    }
  }
}