.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include center-column;
  gap: 1rem;
  // background-image: linear-gradient(to right bottom, #48435c, #ffffff);
  // background-image: linear-gradient(to right bottom, #704974, #ffffff);
  padding: 1.9rem;
  // position: absolute;
  // bottom: 0;
  @media (orientation: landscape) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    
  }

  &__copy {
    @include textStyle($openSans, $bold, 1.4rem, $darkPurple);
    background-image: linear-gradient(to right bottom, #704974, #ffffff);
    height: fit-content;

    @media all and (min-width: 768px) {
      padding: 5px;
    }
  }
  &__logo {
    width: 15rem;
    background-image: linear-gradient(to right bottom, #704974, #ffffff);
    height: fit-content;
    @media all and (min-width: 768px) {
      padding: 5px;
    }
  }
}

// .footerCard {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   @include center-column;
//   gap: 1.2rem;
//   background-image: linear-gradient(to right bottom, #9981f0, #ffffff);
//   padding: 1.9rem;
//   @media all and (min-width: 768px) {
//   flex-direction: row;
//   justify-content: space-between;
//   padding: 2.5rem 5rem;
//   height: 6vh;
//   }
//   &__copyRight {
//       @include textStyle($openSans, $regular, 1.4rem, $brownishGrey);
//   }
//   &__logoCard {
//       width: 15rem;
//   }
// }
