.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  background-color: $whiteTwo;
  border: 0.1rem solid $whiteThree;
  padding: 1.9rem;
  &__copy {
    @include testStyle($openSans, $regular, 1.4rem, $brownishGrey);
  }
  &__logo {
    width: 10rem;
  }
}
