.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  @include center-column;
  gap: 1.2rem;
  background-image: linear-gradient(to right bottom, #9981f0, #ffffff);
  padding: 1.9rem;
  position: absolute;
  bottom: 0;
  @media (orientation: landscape) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 5rem;
    height: 6vh;
  }

  &__copy {
    @include textStyle($openSans, $regular, 1.4rem, $brownishGrey);
  }
  &__logo {
    width: 15rem;
  }
}
