.header {
    background-color: $whiteFour;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    &__image {
        width: 25rem;
        height: 6.3rem;
        margin-top: 9.5rem;
    }
}