.headerIndex {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 35vh;
  @media (min-width: 768px) {
    height: 43vh;
  }
  .imgIndex {
    width: 25rem;
    border: none;
    cursor: url(../images/cuchillo.png), auto;  
    @include center-column;
    border-radius: 1rem;
    filter: drop-shadow( 5px 5px 1px $black);
    @media (min-width: 768px) {
      width: 40rem;
    }
  }
}

.headerCard {
  background-image: linear-gradient(to right bottom, #7152e2ad, #f8effca6);
  display: flex;
  align-items: center;
  @media (min-width: 768px) {
    justify-content: flex-start;
    padding-left: 4rem;
  }
  .imgCard {
    width: 15rem;
    margin: 0.5rem 1.5rem;
    cursor: url(../images/cuchillo.png), auto;  
    @media (min-width: 768px) {
      width: 20rem;
    }
  }
}
