.bodyImage{
  background-image: url(../images/arboles.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 105vh;
}
.main-land {
  @include textGlow($whiteFour);
  @include center-column;
  justify-content: space-evenly;
  // height: 65vh;
  gap:5rem;
  @media (min-width: 768px){
    justify-content: flex-start; 
  }
  @media (orientation: landscape) {
    gap:5rem;
 }
  .box-land {
    @include boxGlow($whiteFour, $whiteTwo);
    @include textGlow(#d5b9c9);
    @include center-column;
    margin: 2rem 5rem 0;
    border-radius: 1rem;
    &__title {
      padding: 1.5rem 0 0.3rem;
      @include textStyle($merriweather, $blackBold, 2rem, $darkPurple);
      @media (min-width: 768px) {
        font-size: 2.4rem;
      }
    }
    &__par {
      @include textStyle($openSans, $regular, 1.3rem, $darkPurple);
      text-align: center;

      @media (min-width: 768px) {
        @include textStyle($openSans, $regular, 1.6rem, $darkPurple);
        padding: 1rem;
      }
    }
    &__icons {
      margin-top: 1.5rem;
      width: 27rem;
      height: 7rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      figure {
        width: 6rem;
        text-align: center;
        @include textStyle($openSans, $regular, 1.5rem, $darkgreen);
        .fa {
          color: $darkPurple;
          font-size: 2.5rem;
          @include textGlow($white);
        }
      }
    }
  }

  &__btn {
    cursor: url(../images/cuchillo.png), auto;
    padding: 1rem;
    border-radius: 20rem;
    text-decoration: none;
    text-transform: uppercase;
    @include textStyle($openSans, $blackBold, 1.6rem, $darkPurple);
    // @include boxGlowTwo($whiteFour, $whiteTwo);
    background-color: $whiteTwo;
    @include textGlow(#d5b9c9);
    transition-duration: 0.8s;
    &:hover{ 
      background-color: $whiteTwo;
      transform: scale(1.2);
      box-shadow: 0 0.1rem 1rem 0 $black20, 0 0.1rem 3rem 0 $black20;
  }
}
}