.card{
    padding: 3.8rem 3.5rem 4rem 4.5rem;
    background-image: linear-gradient(to bottom, $silver, $paleGrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__button{
        @include textStyle ($openSans,400,1.2rem,$gunmetal);
        width: 8rem;
        height: 3rem;
        margin: 0 16.5rem 2rem 0;
        border-radius: 2rem;
        border: solid 0.1rem $whiteTwo;
        background-color: $silver;
        transition-duration: 0.8s;
        text-transform: uppercase;
        cursor: pointer;
        
        &:hover{ 
            background-color: $whiteTwo;
            transform: scale(1.2);
            box-shadow: 0 0.1rem 1rem 0 $black20, 0 0.1rem 3rem 0 $black20;
        }
        .fa-regular{
            margin-right:0.8rem;
        }
    }
    
    &__box{
        background-color: $whiteTwo;
        padding: 2.1rem 0 1.2rem;
        border-radius: 0.2rem;
        box-shadow: 0 0.1rem 1rem 0 $black20, 0 0.1rem 3rem 0 $black20;
        width: 24rem;
        &--img{
            width: 24rem;
            height: 20rem;
        }
    }
    &__container{
        border-left: 5px solid;
        border-color:$dirtyBlue;
        vertical-align: baseline;
        &--name{
            @include textStyle($montserrat, $bold, 1.8rem, $darkGreenBlue);margin-left: 2rem; 
        } 
        &--profession{
            @include textStyle ($montserrat,$semiBold, 1.6rem, $gunmetal);margin-left: 2rem;
            margin-bottom: 1rem;
        }
    }
}
.icons{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: 2rem;
    gap: 1rem;
    
    &__border{
        border-radius: 50%;
        border: solid 0.2rem $hospitalGreen;
        width: 3.2rem; 
        height: 3.2rem;
        display: flex;
        justify-content: center;
        padding: 0.9rem;

        &--item{
            @include textStyle (0,0,0.9rem,$darkGreenBlue);
        }
    }
}