.section {
    // margin-left: 2.3rem;
    // margin-right: 2rem;
    border: none;
    cursor: pointer;
    &__div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;  
        &__pack{
            display: flex;
            align-items: center;
            &--fig {
                margin: 0;
                &--icon{
                    display: flex;
                    @include iconStyle($regular, 1.8rem);
                    padding-right: 1.2rem;
                }
                &--arrow{
                    @include iconStyle ($regular, 1.8rem, $gunmetal)
                }
            }
            &--h2 {
                text-transform: uppercase;
                @include textStyle($openSans, $semiBold, 1.8rem, $gunmetal);
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 3rem;
        &__link{
            background-color: $orange;
            cursor: pointer;
            width: 199px;
            height: 50px;
            border-radius: 12px;
            border: 1px solid $orange;
            box-shadow: 0 0 4px 0 $black32;
            text-transform: uppercase;
            // margin: 60px auto 30px 60px;
            @include textStyle($openSans, $regular, 1.8rem, $whiteTwo);
            &--target{
                @include iconStyle($regular, 2.2rem, $whiteTwo)
            }
        }
    }
    &__line {
        background-color: $whiteThree;
        height: 0.01rem;
        margin-bottom: 3rem;
    }

    &__share {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
        &--h2 {
            @include textStyle($openSans, $semiBold, 1.8rem, $gunmetal);
        }
        &--link {
            @include textStyle($openSans, $semiBold, 1.2rem, $orange);
            text-decoration: none;
        }
        &--btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 9px;
            margin-top: 13px;
            margin-inline: auto;
            background-color: #00a0f5;
            width: 200px;
            height: 35px;
            border-radius: 3px;
            color: $whiteTwo;
            text-decoration: none;

        &--icon {
            @include textStyle($openSans, $regular, 1.4rem, $whiteTwo);
        }
        }
    }
}

